[P3 style=Normal] 基于行为生物特征的移动终端用户持续性认证系统需求分析
[P5 style=Normal] 作者：
[P6 style=Normal] 参与者：
[P14 style=目录标题] 版本信息
[P19 style=Normal] 目录
[P20 style=toc 2] 1	引言	3
[P21 style=toc 3] 1.1	编写目的	3
[P22 style=toc 3] 1.2	项目背景	4
[P23 style=toc 3] 1.3	定义	4
[P24 style=toc 3] 1.4	参考资料	4
[P25 style=toc 2] 2	任务概述	5
[P26 style=toc 3] 2.1	目标	5
[P27 style=toc 3] 2.2	运行环境	5
[P28 style=toc 3] 2.3	条件与限制 （设计约束）	5
[P29 style=toc 2] 3	功能需求	5
[P30 style=toc 3] 3.1	功能划分	5
[P31 style=toc 3] 3.2	功能描述	5
[P32 style=toc 2] 4	性能需求	5
[P33 style=toc 3] 4.1	数据精确度	5
[P34 style=toc 3] 4.2	时间特性	5
[P35 style=toc 3] 4.3	适应性	5
[P36 style=toc 2] 5	运行需求	5
[P37 style=toc 3] 5.1	用户界面	5
[P38 style=toc 3] 5.2	硬件接口	6
[P39 style=toc 3] 5.3	软件接口	6
[P40 style=toc 3] 5.4	故障处理	6
[P41 style=toc 2] 6	其他需求	6
[P44 style=Heading 2] 引言
[P45 style=Heading 3] 编写目的
[P46 style=Normal] 明确基于行为生物特征的移动终端用户的持续性认证系统的使用对象、功能、预期效果等。该文档供开发人员、设计人员、测试人员参考。
[P48 style=Heading 3] 项目背景
[P49 style=Normal] 随着处理能力和存储能力的不断增强，移动终端设备（智能手机，平板电脑等）已经成为我们生活中必不可少的一个重要工具，我们可以通过移动终端进行上网、购物、视频会议、移动办公等。同时，用户也存储了大量的个人信息在移动终端上，比如，密码、图片、账号、聊天记录、通话记录等。然而，移动终端在给用户带来便利的同时，移动终端上的个人信息的泄露也极大地引起了人们对移动终端隐私安全问题的普遍担心。同时，国家也颁布了相关的法律法规来保护移动终端用户的个人信息，比如：
[P50 style=Normal] 1）《中华人民共和国数据安全法》：随着数字经济日益成为国际竞争的制高点，数据安全治理、数据安全保护立法也成为大国竞争和争夺数字经济领先地位的重要标志。从全球范围看，近年来，数据安全形势日益严峻，损害个人隐私，攫取、破坏和滥用数据资源时有发生，严重危害社会公共利益乃至国家安全。许多国家都认识到数据安全的重要性，逐步开始实施相关法律，加大了数据安全治理力度。同时，在数据安全保护等方面的国际合作也在不断加强。
[P51 style=Normal] 2）《中华人民共和国个人信息保护法》：党中央高度重视网络空间法治建设，对个人信息保护立法工作进行部署。习近平总书记多次强调，要坚持网络安全为人民、网络安全靠人民，保障个人信息安全，维护公民在网络空间的合法权益，对加强个人信息保护工作提出明确要求。为及时回应广大人民群众的呼声和期待，落实党中央部署要求，制定一部个人信息保护方面的专门法律，将广大人民群众的个人信息权益实现好、维护好、发展好，具有重要意义。
[P52 style=Normal] 3）《国家安全战略（2021-2025）》：新形势下维护国家安全，必须牢固树立总体国家安全观，加快构建新安全格局。必须坚持党的绝对领导，完善集中统一、高效权威的国家安全工作领导体制，实现政治安全、人民安全、国家利益至上相统一；坚持捍卫国家主权和领土完整，维护边疆、边境、周边安定有序；坚持安全发展，推动高质量发展和高水平安全动态平衡；坚持总体战，统筹传统安全和非传统安全；坚持走和平发展道路，促进自身安全和共同安全相协调。
[P53 style=Normal] 对移动终端用户进行身份认证，作为一种防止非法用户接入移动终端导致个人隐私信息泄露的防御机制，是保证移动终端用户隐私安全的重要手段之一。移动终端用户身份认证作为保护移动终端数据安全的第一道防线，一直是国内外研究的热点。当前的移动终端用户身份认证方法可以分为以下三种：
[P54 style=Normal] 基于口令密码、图形模式的移动终端认证方法
[P55 style=Normal] 基于密码和图形模式的认证是当前使用最为广泛的移动终端认证方法。密码通常是由一串带有数字、字母或者字符的口令构成。基于密码的认证要求接入移动终端的用户输入设置的密码后，就可以在后续的接入移动终端时中进行身份认证。口令密码设置的越复杂，它就越不容易被攻击者所破解。但是复杂的密码也往往存在记忆困难，容易丢失的特点。为了方便，移动终端用户通常设置较为简单的密码，而简单的口令密码则很容易被随机猜出或者暴力破解。
[P56 style=Normal] 图形模式密码指的是用户密码的形式是图形。基于图形模式密码的认证
[P57 style=Normal] 只需要用户在认证时按照连接点依次画出图形模式即可。与传统的基于口令密码的认证方法相比，基于图形模式的密码方法更加的易于记忆，可以避免攻击者的暴力破解，但是一些简单的图形模式密码依然很容易被猜出，并且容易遭受污迹攻击和肩部冲浪攻击。
[P58 style=Normal] 基于生理生物特征的移动终端认证方法
[P59 style=Normal] 基于生理生物特征的移动终端认证方法利用每个人特有的、伴随人一生的生物信息来对接入移动终端的用户的身份进行认证，比如，指纹信息、人脸信息、虹膜信息。生理生物特征对于每个用户来说，往往具有唯一性，且区分度大等特点，是比较流行的移动终端认证方法。虽然基于生理生物特征的移动终端认证方法不用记忆各种复杂的密码，但是它也容易受到一些攻击，比如仿冒攻击。此外，基于生理生物特征的移动终端认证方法需要额外硬件设备的支持，比如，特殊传感器等。更重要的是这种认证方法可能引起移动终端用户的生理生物信息的泄露。
[P60 style=Normal] 基于行为生物特征的移动终端认证方法
[P61 style=Normal] 基于行为生物特征的移动终端认证方法是当前身份认证领域比较热点的研究内容之一。它通过移动终端内置传感器记录的用户与移动终端进行交互时的行为模式对接入的用户进行身份认证。基于行为生物特征的移动终端认证方法在整个认证过程中对于用户是透明的，无需用户的直接参与。此外，基于行为生物特征的认证方法无需额外硬件的支持，仅仅通过移动终端内置传感器采集的数据就能完成对接入用户的身份进行认证。更重要的是它能够在整个会话期间对记入移动终端的用户的身份进行持续的认证。本文的研究重点就是基于行为生物特征的移动终端认证方法。
[P62 style=Normal] 虽然当前的一次性认证方法（基于密码、图形模式和生理生物特征的认证方法）在一定程度上保护了移动终端数据的安全，但这些方法仍然面临一些问题：
[P63 style=Normal] 无法在整个会话期间对接入移动终端的用户身份进行持续性性认证。
[P64 style=Normal] 容易受到攻击者的一些攻击（污迹攻击和肩部冲浪攻击）。
[P65 style=Normal] 在认证过程中需要一些特殊硬件设备的支持，如何特殊传感器。
[P66 style=Normal] 这些认证方法在认证过程中需要移动终端用户的直接参与。
[P67 style=Normal] 由于基于生理生物特征的认证方法需要采集移动终端用户的生理生物信息，可能会导致用户的生理生物特征信息的泄露（指纹、人脸图像）。
[P68 style=Normal] 针对当前的一次性认证方法（基于密码、图形模式和生理生物特征的认证方法）的几种攻击场景如下：
[P69 style=Normal] 污渍攻击：通过用户输入密码或九宫格图形留在屏幕上的油渍、污渍进行推理攻击。
[P70 style=Normal] 肩部冲浪攻击：在人员密集区域（餐厅、地铁、公交）输入密码或九宫格图形时被旁边的人记住密码或图案。
[P71 style=Normal] 认证通过后被攻击：由于当前的一次性认证方法只在用户接入移动终端时进行一次性认证，当手机认证通过后被遗留在卫生间、餐厅等公共场合，被攻击者获取后可以访问任何私密信息。
[P72 style=Normal] 考虑到当前一次性认证方法的缺点，基于行为生物特征的移动终端持续性认证（CA，Continuous Authentication）方法是对它们的有效补充。基于行为生物特征的移动终端认证方法的工作原理是：在和智能手机进行交互时，不同的用户会产生不同程度的智能手机姿势和动作变化，表现出独特的行为模式。智能手机内置传感器记录的数据能够表征用户的行为生物特征。
[P73 style=Normal] 相比于传统的一次性移动终端认证方法，基于行为生物特征的移动终端持续性认证方法主要有以下优点：
[P74 style=Normal] 持续性认证：能够在整个会话期间对接入手机的用户进行持续的身份认证。
[P75 style=Normal] 隐式认证：在整个认证过程中完全不需要智能手机用户的参与(对于用户来说是透明的)。
[P76 style=Normal] 无需特殊硬件支持：仅通过当前智能手机内置传感器就可以获取表征用户行为模式的数据。
[P77 style=Normal] 无需特殊权限：读取这些传感器数据不需要用户的授权。
[P78 style=Normal] 基于行为生物特征的移动终端用户持续性认证方案是对传统一次性认证方案的有效补充，对于保护移动终端上的数据安全具有重要的作用。
[P79 style=Normal] 当前基于行为生物特征的持续性认证引起了众多研究者的关注，并且取得了令人瞩目的进展。如图1所示，我们对当前的基于行为生物特征的持续性认证方案进行了分类和总结。
[P81 style=Normal] 图1 基于行为生物特征的持续性认证技术演进
[P82 style=Normal] 针对当前的基于行为生物特征的持续性认证方案存在的问题和挑战，我们提出了基于深度神经网络的端到端一分类持续性认证方案。我们提出的持续性认证方案具有以下关键技术：
[P83 style=Normal] 端到端深度神经网络架构
[P84 style=Normal] 深度神经网络架构应同时具备自动从行为生物特征数据中提取深层特征和充当分类器的功能。基于该深度神经网络架构，我们不在需要复杂的特征工程，更不需要分类训练一个特征提取模型和分类器。
[P85 style=Normal] 深度神经网络架构足够轻量，资源开销小
[P86 style=Normal] 当前的神经网络架构往往通过增加网络的深度来提升性能，因此，神经网络架构通常需要配备计算能力非常强的GPU来训练。然而，在计算能力受限的移动终端设备上，这种深度神经网络架构往往无法训练，因为计算开销太大。因此，基于深度神经网络架构的持续性认证系统必须足够轻量，并且资源开销较小。
[P87 style=Normal] 仅学习合法用户行为生物特征数据的分布
[P88 style=Normal] 当前基于行为生物特征的持续性认证方案同时需要来自于攻击者的异常样本和合法用户的正常样本来训练持续认证模型。由于在训练过程中，持续认证模型学习到了异常样本的分布，持续认证模型往往在测试时能获得令人满意的性能。然而，在实际环境中，持续认证模型无法完全学习到多样的攻击者的样本分布，往往导致较差的认证性能。因此，一个仅需要学习合法用户行为生物特征数据分布的持续认证方案很有必要。
[P90 style=Heading 3] 定义
[P91 style=Normal] CA（Continuous Authentication）是一种对接入移动终端用户的身份进行认证的认证方案。不同于传统的一次性认证方案（比如，密码认证，图形模式认证，人脸认证等等），它能够在整个会话期间对接入移动终端的用户的身份进行认证。此外，在整个身份认证期间，它不需要接入用户的参与，整个认证过程对于用户来说是透明的。
[P92 style=Heading 3] 参考资料
[P93 style=List Paragraph] 项目经核准的计划任务书、合同或上级机关的批文
[P94 style=List Paragraph] 文档所引用的资料、规范、标准及适用的法律法规等
[P95 style=List Paragraph] 列出这些资料的作者、标题、编号、发表日期、出版单位或资料来源
[P96 style=Normal] [1] Hu M, Zhang K, You R, et al. Multisensor-Based Continuous Authentication of Smartphone Users With Two-Stage Feature Extraction[J]. IEEE Internet of Things Journal, 2022, 10(6): 4708-4724.
[P97 style=Normal] [2] Hu M, Zhang K, You R, et al. AuthConFormer: Sensor-based Continuous Authentication of Smartphone Users Using A Convolutional Transformer[J]. Computers & Security, 2023, 127: 103122.
[P98 style=Normal] [3] Hu M, Zhang K, You R, et al. Relative Attention-based One-Class Adversarial Autoencoder for Continuous Authentication of Smartphone Users[J]. arXiv preprint arXiv:2210.16819, 2022.
[P99 style=Normal] [4] Li Y, Liu L, Qin H, et al. Adaptive deep feature fusion for continuous authentication with data augmentation[J]. IEEE Transactions on Mobile Computing, 2022.
[P100 style=Normal] [5] Li Y, Luo J, Deng S, et al. CNN-based continuous authentication on smartphones with conditional Wasserstein generative adversarial network[J]. IEEE Internet of Things Journal, 2021, 9(7): 5447-5460.
[P101 style=Normal] [6] Li Y, Luo J, Deng S, et al. SearchAuth: Neural Architecture Search based Continuous Authentication Using Auto Augmentation Search[J]. ACM Transactions on Sensor Networks, 2023.
[P102 style=Normal] [7] Li Y, Hu H, Zhu Z, et al. SCANet: sensor-based continuous authentication with two-stream convolutional neural networks[J]. ACM Transactions on Sensor Networks (TOSN), 2020, 16(3): 1-27.
[P103 style=Normal] [8] Zhu T, Qu Z, Xu H, et al. RiskCog: Unobtrusive real-time user authentication on mobile devices in the wild[J]. IEEE Transactions on Mobile Computing, 2019, 19(2): 466-483.
[P104 style=Normal] [9] Wu C, He K, Chen J, et al. Liveness is not enough: Enhancing fingerprint authentication with behavioral biometrics to defeat puppet attacks[C]//29th USENIX Security Symposium (USENIX Security 20). 2020: 2219-2236.
[P105 style=Normal] [10] Shen C, Li Y, Chen Y, et al. Performance analysis of multi-motion sensor behavior for active smartphone authentication[J]. IEEE Transactions on Information Forensics and Security, 2017, 13(1): 48-62.
[P106 style=Heading 2] 任务概述
[P107 style=Heading 3] 目标
[P108 style=Normal] 当前的一次性认证方案无法确认进入接入移动终端用户的真实身份，换句话说，当攻击者拿到攻击凭证时（比如密码等）时，他也可以顺利通过认证并接入系统。我们基于Android系统设计并实现了基于行为生物特征的持续性认证系统，它能够实时认证接入移动终端的用户的真实身份。该实时持续性认证系统通过数据采集模块实时采集用户的行为生物特征数据，并发送给云服务端的数据预处理模块进行待检测样本生成。最后，部署在云服务端的持续性认证模型通过待检测样本来实时判断接入移动终端的用户的身份。部署在云服务端的持续性认证系统支持多个移动终端用户同时更新持续性认证模型。在更新过程中，我们为移动终端用户建立单线程进行更新操作。为了减少资源开销，我们对更新完认证模型的线程进行实时销毁，做到用完即销毁。
[P109 style=Normal] 虽然当前一些研究为了保护行为生物数据安全而选择使用一些隐私保护的持续性认证方案，比如，基于联邦学习技术的持续性认证方案，基于多方安全计算的持续性认证方案。然而这些认证方案需要巨大的计算开销和时延，无法满足实时认证的需求。此外，相关研究提出部署在移动终端设备上的持续性认证模型。然而，由于移动终端设备资源受限，并且基于深度学习的持续性认证模型需要巨大的计算资源和存储资源，因此，往往无法在真实场景中应用和部署。
[P110 style=Heading 3] 运行环境
[P111 style=Normal] 基于行为生物特征的持续性认证系统由两部分构成：1）基于Android系统的移动终端；2）部署基于行为生物特征的移动终端用户实时认证系统的服务端。移动终端时运行Android 操作系统的智能手机，服务端的操作系统为ubuntu22。
[P112 style=Heading 3] 条件与限制 （设计约束）
[P113 style=Normal] 当前我们仅支持对基于Android操作系统的移动终端用户的身份进行持续性认证。 我们无法对基于IOS操作系统的移动终端用户进行认证。
[P114 style=Heading 2] 功能需求
[P116 style=Normal] 图2 基于行为生物特征的移动终端用户持续性认证系统
[P117 style=Heading 3] 功能划分
[P118 style=Normal] 如图2所示，基于行为生物特征的移动终端用户持续性认证系统可以分为五部分：
[P119 style=List Paragraph] 在移动终端侧的数据采集模块：从移动终端中内置的传感器采集用户表征用户行为模式的行为生物特征数据。
[P120 style=List Paragraph] 通信模块：负责把手机端采集的行为生物特征数据发送到服务端进行训练持续性认证模型。
[P121 style=Normal] 3）数据预处理模块：对从内置传感器采集的行为生物特征数据进行预处理，比如数据归一化和样本生成。
[P122 style=Normal] 4）基于合法用户样本的潜在表征学习模块：通过提出的潜在表征掩码一分类自编码器来学习能够表征合法用户行为模式的深层特征。
[P123 style=Normal] 5）持续性认证模块：在持续性认证阶段，来自合法用户的正常样本的异常分较低，而来自攻击者的异常样本的异常分会较高，因为经过训练的自动编码器不知道异常样本的分布。
[P124 style=Heading 2] 3.2功能描述
[P125 style=Normal] 1）在移动终端侧的数据采集模块
[P126 style=Normal] 当前的智能手机内置了许多传感器用于情感感知及交互。最常见的传感器包括加速计，陀螺仪，磁力计等等。这些传感器可以记录用户与智能手机交互时的行为生物特征数据，而这些数据正好能够反映智能手机用户独特的行为模式。因此利用手机内置的传感器采集的行为生物特征数据能够有效的用户进行身份认证。我们分别从加速计、陀螺仪、磁力计三个传感器中采集能够表征用户行为模式的数据。加速度计通过三个维度测量加速度的方向，用于在持续性认证中感知智能手机用户的相关动作。陀螺仪测量物体在三维空间中偏转和倾斜时的角速度。磁力计用于测试磁场的强度和方向。我们选择从这三个传感器采集用于表征用户行为模式的行为生物特征数据的原因有以下两点：1）这三个传感器的原始数据可以从不同层面记录和表征智能手机用户与智能手机交互时的行为模式；2）读取这三个传感器的实时数据不需要操作系统的特殊权限，我们只需要调用提供的接口即可，也就是说，这三个传感器的数据不涉及用户隐私问题。
[P127 style=List Paragraph] 加速计：智能手机中常见的加速传感器(Accelerometer Sensor)是电容式芯片三轴加速度传感器，简称三轴加速度传感器。有两种加速度，静态加速度和动态加速度。其中，静态加速度是将加速度传感器倾斜某个角度，而重力场相应地在感应场上产生一个分量，手机倾斜的角度则可以通过这个分量测量，从而实现对手机前后左右的控制；所谓的动态加速度，是可以利用加速度传感器侦测速度、撞击等活动。因此，加速传感器可以用来检测手机的角度是横放还是竖放，最终决定手机内容是横屏显示还是竖屏显示。同样，加速传感器也可以用来检测人体的某些日常活动或者剧烈活动。它可以实时测量手机的加速度，利用一些算法，达到识别日常活动和剧烈活动的目的。
[P128 style=List Paragraph] 磁力计：磁场传感器(Magnetometer Sensor)是各向异性磁致电阻材料，感受到微弱的磁场变化，通过测量电阻变化来确定磁场强度。Android返回的是X，Y，Z三轴的环境磁场数据，利用磁力计可以对手机用户进行位置和方向上的判断。
[P129 style=List Paragraph] 陀螺仪：陀螺仪（Gyroscope）也被称为角速度传感器。它的主要部分是一个对旋转轴以极高角速度旋转的转子，转子装在一支架内；在通过转子中心轴上加一内环架，陀螺仪就可环绕平面两轴作自由运动；然后，在内环架外加上一外环架；此时陀螺仪有两个平衡环，便可以环绕平面三轴作自由运动。陀螺仪通常用于检测手机设备的实时角速度。返回的是X，Y，Z三个方向的角速度值。
[P130 style=Normal] 为了能够采集到用户与智能手机交互时的行为生物特征数据，本方案使用一个基于Android系统的行为生物特征数据采集APP。该行为生物特征数据采集APP由三部分构成：用户注册模块、行为生物特征数据采集与展示模块、行为生物特征数据存储模块。用户注册模块主要用来保存用户的相关身份信息，比如用户名，年龄，性别，邮箱，和采集场景。行为生物特征数据采集与展示模块主要用来进行开始采集和停止的设定。行为生物特征数据存储模块主要用来把采集的行为生物特征数据以.csv格式进行保存。
[P131 style=Normal] 为了有效的过滤无效数据或者噪声，比如，当移动终端放入口袋或者工位时，而用户并没有和移动终端进行交互时，这些采集的行为生物特征数据都被我们视。为无效数据或者噪声。在行为生物特征数据采集过程中，我们只在用户和移动终端进行交互时，我们才进行行为生物特征数据采集操作。因此，我们通过手机是否处于解锁状态来判断用户是否与移动终端进行交互。只有当移动终端处于解锁状态时，我们才进行数据采集操作。
[P132 style=Normal] 此外，为了进一步提升采集的行为生物特征数据的质量，我们仅采集用户与抖音，微信交互时的行为生物特征数据。为了做到这一点，我们通过判断抖音和微信APP的运行状态来精确的采集行为生物特征数据。
[P133 style=Normal] 2）通信模块
[P134 style=Normal] 通信模块负责把手机端采集的行为生物特征数据发送到服务端进行训练持续性认证模型。在数据传输过程中，为了节约资源开销，我们选择定时数据传输策略，当数据采集的条数超过指定条数时，我们再进行数据传输，而不是实时的单条传输。
[P135 style=Normal] 3）数据预处理模块
[P136 style=Normal] 从运动传感器(加速度计和陀螺仪)中收集的原始行为生物特征数据不能直接用于深层次特征表征学习模型的输入。我们需要对原始行为生物特征数据进行数据归一化和样本生成操作。
[P137 style=Normal] 从不同的运动传感器收集的感知数据在数值上有巨大的差异。如果我们直接应用原始行为生物特征数据来训练所提出的深层次特征表征学习模型，它可能会突出值较大的感知数据的作用，而相对削弱值较小的感知数据的作用。这种情况可能导致所提出的深层次特征表示学习模型不能从感知数据中提取有区别的语义表示。因此，我们需要通过数据归一化操作，使不同运动传感器的数据保持在同一范围内。此外，在训练阶段，数据归一化操作可以提高深层次特征表征学习模型的收敛速度。
[P138 style=Normal] 数据归一化：在本文中，我们使用最小-最大归一化方法对原始的感知数据进行线性变换。从运动传感器收集的感知数据在每个时间点可以表示为 ，其中x，y，z是三轴感知数据。此外，为了减少噪音对运动传感器数据的影响，我们还增加了每个时间点的第四个轴(幅度)的感知数据，可以表示为. 对于每个时间点，从两个运动传感器 (加速度计和陀螺仪)收集的感知数据可以表示为。而acc、gyr分别表示加速度计、陀螺仪。那么最小-最大归一化操作可以表示为:
[P140 style=Normal] 经过数据归一化处理后的行为生物特征数据可以表示为：。
[P141 style=Normal] 训练样本生成：从运动传感器收集的时间序列传感数据不能直接用作训练深层次特征表征学习模型的输入。我们应用一个时间窗口 T 来分割没有时间重叠的时间序列传感数据。每个时间点的数据标准化后的感知数据可以表示为: 。那么对于时间窗 T，时间序列感知数据可以被公式化为𝑑 × 𝑚矩阵:
[P143 style=Normal] 其中 𝑑 = 12是每个轴上感知数据的数量时间点，𝑚 = 𝑡 × 𝑓。感知数据是用采样率 𝑓 = 100𝐻𝑍，我们应用时间窗 𝑡 = 0.5𝑠 来分割感官数据。然后训练样本用来训练自动编码器网络的维度为 12 × 50。
[P145 style=Normal] 图3 基于潜在表征掩码的轻量级一分类自编码器架构
[P146 style=Normal] 4）基于合法用户样本的潜在表征学习模块
[P147 style=Normal] 如图 3所示，我们应用提出的轻量级潜在表征掩码一分类自编码器，用于从合法用户的行为生物特征中学习丰富的细粒度语义表示，我们提出的潜在表征掩码一分类自编码器仅使用正常样本以无监督的方式进行训练。
[P148 style=Normal] 基于重构误差的自编码器被广泛应用与异常检测任务。我们训练提出的潜在表征掩码一分类自编码器，以无监督的方式模拟正态样本的分布。在测试阶段，正常样本的重建误差较低而异常样本的重构误差会很高，因为经过训练的自动编码器不知道异常样本的分布。为了从智能手机用户的行为生物特征中学习更丰富的细粒度语义信息，我们提出了一种用于持续性认证任务的潜在表征掩码一分类自动编码器。与原始输入相比，生成的潜在表征包含更多的抽象和区分特征，重构器可以在重构掩码潜在表征的过程中学习到更丰富的细粒度语义信息。如图 2所示，所提出的潜在表征掩码一分类自动编码器由两部分组成: 潜在表征掩码生成器(MLRG)和重构器 (R)。潜在表征掩码生成器试图最大化重建器的重建误差，重建器试图最小化重建误差。此外，如图4所示，我们提出的潜在表征掩码一分类自编码器仅由两个卷积层构成，相比于其它的基于深度学习的持续性认证方法，我们提出的潜在表征掩码一分类自编码器更加的轻量。它足够轻量以部署在资源受限的平台上，比如移动终端平台和嵌入式平台。
[P150 style=Normal] 图4 基于潜在表征掩码的一分类自编码器的详细架构
[P151 style=Normal] 5）持续性认证模块
[P152 style=Normal] 不同于常见的基于自动编码器网络的异常得分计算方法，其将查询样本的重构误差作为异常得分来区分异常样本和正常样本。在持续认证阶段计算查询样本的异常值时，还考虑了隐藏层重构误差的影响。如图5所示，当输入 𝑥 被馈送到编码器 𝑔 时，令 表示为第 的隐藏层。当重构的图像  被送入编码器 𝑔 时，令表示为第 的隐藏层。当潜在表示 𝑧 被馈送到解码器 𝑓 时，令  表示为 第 的隐藏层。𝑓 和 𝑔 也可计算为：
[P154 style=Normal] 则自动编码器的隐藏层空间重构误差可以表示为：
[P156 style=Normal] 代替使用查询样本的重构误差，我们应用上述公式来计算异常分数。在持续性认证阶段，来自合法用户的正常样本的异常分较低，而来自攻击者的异常样本的异常分会较高，因为经过训练的自动编码器不知道异常样本的分布。
[P157 style=Normal] 图5 隐藏空间表示的潜在表示掩码一分类自动编码器。
[P158 style=Heading 2] 性能需求
[P159 style=Heading 3] 时间特性
[P160 style=Normal] 执行单次实时认证的时间为1s。
[P161 style=Heading 3] 适应性
[P162 style=Normal] 在操作方式、运行环境、与其他软件的接口以及开发计划等发生变化时，应具有的适应能力。
[P163 style=Heading 2] 运行需求
[P164 style=Heading 3] 用户界面
[P165 style=Normal] 如屏幕格式、报表格式、菜单格式、输入输出时间等。基于Android操作系统的行为生物特征数据采集APP界面如图6所示：
[P167 style=Normal] 图6 基于Android系统的行为生物特征数据采集APP
[P168 style=Heading 3] 软件接口
[P169 style=Normal] 基于行为生物特征的移动终端用户持续性认证系统由两部分构成：1）基于Android系统的移动终端；2）部署基于行为生物特征的移动终端用户实时认证系统的服务端。其中第一部分运用JAVA开发，第二部分运用Python语言和深度学习框架Pytorch实现。
[P171 style=Heading 3] 故障处理
[P172 style=Heading 2] 性能评估指标
[P173 style=Normal] 在功能上，我们支持不少于三种行为生物特征数据的持续性认证系统（加速计，陀螺仪，磁力计）。在持续性认证系统部署上，我们支持在基于安卓操作系统上进行部署并正常工作。我们提出的基于行为生物特征的持续性认证系统在HMOG数据集能够实现小于1.5%的等差率（EER）。
[P174 style=Normal] 我们利用错误接受率，错误拒绝率，等错误率和时间效率来评估提出的持续认证系统的性能：
[P175 style=Normal] 错误接受率（False Accept Rate, FAR）: 是指将非法用户错误的识别成合法用户的次数与总的应该识别为非法用户次数的比值。这是一个安全性指标，FAR越低，表示系统的安全性越高，因为它较少地错误地允许未授权的访问。它可以用如下公式计算：
[P177 style=Normal] 错误拒绝率（False Reject Rate, FRR）: 是指将合法用户错误的识别成非法用户的次数与总的应该识别为合法用户次数的比值。这是一个便利性指标，FRR越低，表示系统对于合法用户来说越友好，因为它较少地错误地拒绝合法的访问请求。它可以用如下公式计算：
[P179 style=Normal] 等错误率（Equal Error Rate）: 是指在调节阈值是会得到不同的FAR和FRR对，将这些画到坐标图上得到ROC曲线，曲线上FAR与FRR相等的点就是EER。
[P180 style=Normal] 时间效率：提出的持续认证系统完成单次认证所需的总时间。EER的作用是提供一个单一的性能指标来评估生物识别系统的整体准确性。一个低的EER值表示系统具有较高的准确性，因为它意味着系统的假接受和假拒绝事件发生的概率较低。在选择或评估生物识别系统时，EER是一个非常有用的比较标准，因为它简化了比较过程——一个系统的EER越低，通常认为它比EER较高的系统更优。
[P181 style=Normal] 当攻击者操控合法用户的移动终端时，能够根据攻击者和移动终端交互时的行为生物特征快速的检测出攻击者。当前，我们提出的持续认证系统能够根据采集0.5s的行为生物特征进行单次身份认证，并在1s内完成单次身份认证任务。1s内完成持续性认证任务是指部署在服务端的持续性认证系统在接收到行为生物特征数据到给出认证决策的时间。

[TABLE 1]
[T1R1] 版本/状态 | 作者 | 参与者 | 编制/修订历史时间 | 备注(修改单号)

[TABLE 2]
[T2R1] 接口 | 接口名字 | 接口参数 | 接口返回类型
[T2R2] 加速计传感器数据获取 | Sensor.TYPE_ACCELEROMETER | 无 | Float
[T2R3] 陀螺仪传感器数据获取 | Sensor.TYPE_GYROSCOPE | 无 | Float
[T2R4] 磁力计传感器数据获取 | Sensor.TYPE_MAGNETIC_FIELD | 无 | Float
[T2R5] 双方通信 | SendMsgThread | String：message | Null
[T2R6] 模型训练 | TrainVQGAN | user_id：用户ID, total_far：far列表, total_frr：frr列表, total_err：err列表, total_f1：分list表, total_auc：auc列表, x_train：训练数据, y_train：训练数据label, x_valid：测试数据, y_valid：测试数据 | Null